{
    "cniVersion":"0.2.0",
    "name": "{{ NETWORK_PLUGIN }}",
    "type": "{{ NETWORK_PLUGIN }}",
    "shellDir": "{{ scripts_dir }}",
    "kubeconfig": "/etc/kubernetes/kubelet.kubeconfig",
    "noCheckVolumepath": false
}
