[Unit]
Description={{ STORAGE_CONTROLLER }}
After=network.target

[Service]
ExecStart={{ bin_dir }}/{{ STORAGE_CONTROLLER }} -kubeconfig=/root/.kube/config -v=5
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
