[Unit]
Description={{ STORAGE_AGENT }}
After=network.target

[Service]
ExecStart={{ bin_dir }}/{{ STORAGE_AGENT }} -hostname={{ inventory_hostname }} -kubeconfig=/etc/kubernetes/kubelet.kubeconfig --logtostderr=true -v=4 -shelldir={{ scripts_dir }}/VPMGR
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
